dataloader:
  batch_size: 256
  shuffle: true
  drop_last: false
  num_workers: 0
  pin_memory: false

train:
  epochs: 50
  grad_clip: 0.0

optim:
  lr: 3.0e-4
  weight_decay: 0.0

model:
  gmm:
    dummy: 0

  markov:
    emb_dim: 8
    num_components: 2

  latent:
    emb_dim: 8
    num_components: 2
    encoder_hidden: 64
    elbo_samples: 1